<!DOCTYPE html>
<html lang="en" ng-app="minmax">
	<head>
		<title>Controller Form</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css">
	</head>
	<body>
		<div class="container main-content clear-both" ng-controller="MinMaxCtrl">
			<form ng-submit="onSubmit()" novalidate="novalidate">
				<div class="form-group">
					<label for="name" class="control-label">Name</label>
					<input type="text" class="form-control" id="name" ng-model="formModel.name" required="required" />
				</div>
				<div class="form-group">
					<label for="email" class="control-label">Email</label>
					<input type="email" class="form-control" id="email" ng-model="formModel.email" required="required" name="email"/>
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" ng-model="formModel.username" required="required"
					ng-pattern="/^[A-Za-z0-9_]{1,15}$/"
					ng-pattern-err-type="badUsername" />
				</div>
				<div class="form-group">
					<label for="age">Age</label>
					<input type="number" class="form-control" id="age" ng-model="formModel.age" required="required" 
					min="18"
					max="64"
					ng-min-err-type="tooYoung"
					ng-max-err-type="tooOld"
					/>
				</div>
				<div class="form-group">
					<label for="sex">Sex</label>
					<select name="sex" ng-model="formModel.sex" id="sex" class="form-control" required="required" >
						<option value="">-- Select --</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" ng-model="formModel.password" required="required" 
					ng-minlength="8"/>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="submit"
						ladda="submitting"
						data-style="expand-right">
						<span ng-show="submitting">Registering</span>
						<span ng-show="!submitting">Register</span>
						
					</button>
				</div>
			</form>

			<pre>{{ formModel | json}}</pre>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
		<script src="bower_components/ladda/dist/spin.min.js"></script>
		<script src="bower_components/ladda/dist/ladda.min.js"></script>
		<script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
